{% extends 'index.html' %}
{% block content %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
<p id = "site" style =  
            "font-size: 15px; font-weight: bold;"> 
        </p>

<script type="text/javascript">
	var text = window.location.hash.substring(1);
	var text_up = document.getElementById("site");
	text_up.innerHTML = text + " Product Web Scraper";
     </script>

<form method="POST" id="form1"> {% csrf_token %}
    {{  form.as_p }}
    <input type = 'submit' value="Save">
  <!-- <label for="url">URL</label>
  <input type="url" id="url" name="url" placeholder="Enter Product URL" required>
  <label for="price">Price</label>
  <input type="number" id="price" name="price" placeholder="Enter Desired Amount" required>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="Enter Email ID" required> -->
</form>
<!--<button type="submit" form="form1" value="Submit">Submit</button> -->
{% endblock %}