<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
<script>   
	function test(clicked) {
		var text = clicked;
        window.location.href = '/form'+'#'+text;
	}
</script>
<h1>Please select the website</h1>

<button class="button button1" id="Flipkart" onClick="test(this.id)">Flipkart</button>
<button class="button button2" id="Amazon" onclick="test(this.id)">Amazon</button>
<button class="button button3" id="Snapdeal" onclick="test(this.id)">Snapdeal</button>

{% block content %}
{% endblock %}
</body>
</html>
